body
{
  margin: 0;
  padding: 0;
  background-color: #47b5ff23;
}


* {
  scroll-behavior: smooth;
}

/* Menu code starts here */

#toggleMenu
{
  display: block;
  /* You can also use relative/absolute here if you want to stay on the top */
  position: fixed;
  top: 50px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#toggleMenu a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#toggleMenu a:hover
{
  color: rgb(71, 181, 255);
  font-size: 40px;
}


#toggleMenu input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#toggleMenu span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: hsl(0, 0%, 80%);
  border-radius: 3px;
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#toggleMenu span:first-child
{
  transform-origin: 0% 0%;
}

#toggleMenu span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#toggleMenu input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#toggleMenu input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#toggleMenu input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  max-width: 400px;
  width: 100vw;
  max-height: 100vh;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  box-sizing: border-box;
  overflow-y: auto;
  background: hsl(0, 0%, 93%, 0.8);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

#menu li label
{
  cursor: pointer;
}

/* slide it in from the left*/
#toggleMenu input:checked ~ ul
{
  transform: none;
}


#title{
    position: absolute;
    top: 24px;
    right: 150px;
}
h1{
    font-size: 50px;
    color: #2fabfd;
}

/*welcome section in index.html*/
#welcome{
    position: relative;
    top: 300px;
}

/*singular word "welcome"*/
#wordWelcome{
    font-size: 40px;
    color: #2fabfd;
}

#intro{
    font-size: 20px;
}

/*"are you wanting a ... holiday"*/
#summer-intro{
  font-size: 15px;
  position: relative;
  top: 300px;
  
}

#winter-intro{
  font-size: 15px;
  position: relative;
  top: 300px;
}

#party-intro{
  font-size: 15px;
  position: relative;
  top: 300px;
}

#family-intro{
  font-size: 15px;
  position: relative;
  top: 300px;
}

#relax-intro{
  font-size: 15px;
  position: relative;
  top: 300px;
}

#box-party1{
  height: 600px;
  width: 500px;
  background-color: #ededed;
  border: none;
}

/*all of the boxes for each page*/
.boxes{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  gap: 30px;
  margin-top: 500px;
  margin-bottom: 100px;
}
#box-summer1{
  height: 600px;
  width: 500px;
  background-color: hsl(0, 0%, 93%, 0.5);
  border: none;
}

#box-winter1{
  height: 600px;
  width: 500px;
  background-color: hsl(0, 0%, 93%, 0.5);
  border: none;
}

#box-Family1{
  height: 600px;
  width: 500px;
  background-color: hsl(0, 0%, 93%, 0.5);
  border: none;
}

#box-relax1{
  height: 600px;
  width: 500px;
  background-color: hsl(0, 0%, 93%, 0.5);
  border: none;
}

/*box title*/
#box-titles{
  color:#2fabfd;
  font-size: x-large;
  text-align: center;
}

/*holiday destination*/
#box-destination{
  font-size: 25px;
  text-align: center;
  margin: 5px;
}

/*sun fav icon*/
#sun{
  color: #fcff33d8;
}

#snow-flake{
  color:#23232300
}

/*images*/

#image{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*hover over image and doubles the size*/
#image:hover{
  transform: scale(2);
  z-index: 2;
}

/*best time to visit location*/
#visit-time{
  text-align: center;
}

/*title of each peice of information for each box e.g best time to visit*/
#info-title{
font-family: 'Courier New', Courier, monospace;
}

/*links to booking websites*/
#ibiza-link{
  background-color: #1bf838da;
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  color:#232323;
  position:relative;
  bottom: -100px;
  left: 190px;
}

#maga-link{
  background-color: #1bf838da;
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  color:#232323;
  position:relative;
  bottom: -100px;
  left: 190px;
}


#benidorm-link{
  background-color: #1bf838da;
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  color:#232323;
  position:relative;
  bottom: -100px;
  left: 190px;
}

#napa-link{
  background-color: #1bf838da;
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  color:#232323;
  position:relative;
  bottom: -100px;
  left: 190px;
}

#algarve-link{
  background-color: #1bf838da;
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  color:#232323;
  position:relative;
  bottom: -100px;
  left: 190px;
}

#zante-link{
  background-color: #1bf838da;
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  color:#232323;
  position:relative;
  bottom: -100px;
  left: 190px;
}

#rhodes-link{
  background-color: #1bf838da;
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  color:#232323;
  position:relative;
  bottom: -360px;
  left: 200px;
}

#Mykonos-link{
  background-color: #1bf838da;
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  color:#232323;
  position:relative;
  bottom: -360px;
  left: 200px;
}

#mallorca-link{
  background-color: #1bf838da;
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  color:#232323;
  position:relative;
  bottom: -360px;
  left: 200px;
}

#bali-link{
  background-color: #1bf838da;
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  color:#232323;
  position:relative;
  bottom: -200px;
  left: 200px;
}

#costa-rica-link{
  background-color: #1bf838da;
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  color:#232323;
  position:relative;
  bottom: -360px;
  left: 200px;
}

#maldives-link{
  background-color: #1bf838da;
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  color:#232323;
  position:relative;
  bottom: -200px;
  left: 200px;
}

#grindelwald-link{
  background-color: #1bf838da;
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  color:#232323;
  position:relative;
  bottom: -360px;
  left: 200px;
}

#innsbruck-link{
  background-color: #1bf838da;
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  color:#232323;
  position:relative;
  bottom: -360px;
  left: 200px;
}

#amsterdam-link{
  background-color: #1bf838da;
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  color:#232323;
  position:relative;
  bottom: -200px;
  left: 200px;
}

#lapland-link{
  background-color: #1bf838da;
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  color:#232323;
  position:relative;
  bottom: -360px;
  left: 200px;
}

#riga-link{
  background-color: #1bf838da;
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  color:#232323;
  position:relative;
  bottom: -360px;
  left: 200px;
}

#morzine-link{
  background-color: #1bf838da;
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  color:#232323;
  position:relative;
  bottom: -360px;
  left: 200px;
}

/*social media icons*/
#socials{
  text-align: center;
  padding: 20px 0;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}
/*social media icons*/
#socials i{
  color: #2fabfd;
  font-size: 200%;
}

#footer{
  position: fixed;
  width: 100%;
  height: 30px;
  bottom: 50px;
}