body
{
  margin: 0;
  padding: 0;
  background-color: #47b5ff23;
}


* {
  scroll-behavior: smooth;
}

/* Menu code starts here */

#toggleMenu
{
  display: block;
  /* You can also use relative/absolute here if you want to stay on the top */
  position: fixed;
  top: 50px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#toggleMenu a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#toggleMenu a:hover
{
  color: rgb(71, 181, 255);
  font-size: 40px;
}


#toggleMenu input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#toggleMenu span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: hsl(0, 0%, 80%);
  border-radius: 3px;
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#toggleMenu span:first-child
{
  transform-origin: 0% 0%;
}

#toggleMenu span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#toggleMenu input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#toggleMenu input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * the last one should go the other direction
 */
#toggleMenu input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  max-width: 400px;
  width: 100vw;
  max-height: 100vh;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  box-sizing: border-box;
  overflow-y: auto;
  background: hsl(0, 0%, 93%, 0.8);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

#menu li label
{
  cursor: pointer;
}

/* slide it in from the left*/
#toggleMenu input:checked ~ ul
{
  transform: none;
}

@keyframes heading {
  from{
    transform: translateX(-500px);
  }

  to{
    transform: translateX(0);
  }
}

.heading{
  animation-name: heading;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-direction: normal;
}

#title{
    position: absolute;
    top: 24px;
    right: 150px;
}
h1{
    font-size: 50px;
    color: #2fabfd;
}

/*welcome section in index.html*/
#welcome{
    position: relative;
    top: 300px;
}

/*singular word "welcome"*/
#wordWelcome{
    font-size: 40px;
    color: #2fabfd;
}

#breakdown-of-pages{
  width: 600px;
  height: 200px;
  border: #232323;
  margin-top: 400px;
  background-color:hsl(0, 0%, 93%, 0.8);
  font-size: 20px;
}

#intro{
    font-size: 20px;
}

/*"are you wanting a ... holiday"*/
#summer-intro{
  font-size: 15px;
  position: relative;
  top: 300px;
  
}

#winter-intro{
  font-size: 15px;
  position: relative;
  top: 300px;
}

#party-intro{
  font-size: 15px;
  position: relative;
  top: 300px;
}

#family-intro{
  font-size: 15px;
  position: relative;
  top: 300px;
}

#relax-intro{
  font-size: 15px;
  position: relative;
  top: 300px;
}

/*zoon in on holiday destination info*/
#box-party1:hover{
  transform: scale(1.3);
}
#box-Family1:hover{
  transform: scale(1.3);
}
#box-relax1:hover{
  transform: scale(1.3);
}
#box-summer1:hover{
  transform: scale(1.3);
}
#box-winter1:hover{
  transform: scale(1.3);
}

/*information in each box targetting paragraphs(<p>) e.g must see and top resturants*/
.destination-info{
  font-size: 12px;
}

/*all of the boxes for each page*/
.boxes{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  gap: 30px;
  margin-top: 500px;
  margin-bottom: 100px;
}
#box-summer1{
  height: 600px;
  width: 500px;
  background-color: hsl(0, 0%, 93%);
  border: none;
  margin-top: 30px;
}

#box-winter1{
  height: 600px;
  width: 500px;
  background-color: hsl(0, 0%, 93%);
  border: none;
  margin-top: 30px;
}

#box-party1{
  height: 600px;
  width: 500px;
  background-color: #ededed;
  border: none;
  margin-top: 30px;
}

#box-Family1{
  height: 600px;
  width: 500px;
  background-color: hsl(0, 0%, 93%);
  border: none;
  margin-top: 30px;
}

#box-relax1{
  height: 600px;
  width: 500px;
  background-color: hsl(0, 0%, 93%);
  border: none;
  margin-top: 30px;
}

/*box title*/
#box-titles{
  color:#2fabfd;
  font-size: x-large;
  text-align: center;
}

/*holiday destination*/
#box-destination{
  font-size: 25px;
  text-align: center;
  margin: 5px;
}

/*sun fav icon*/
#sun{
  color: #fcff33d8;
}

#snow-flake{
  color:#23232300
}

/*images*/

#image{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*hover over image and doubles the size*/
#image:hover{
  transform: scale(2);
  z-index: 2;
}

/*best time to visit location*/
#visit-time{
  text-align: center;
}

/*title of each peice of information for each box e.g best time to visit*/
#info-title{
font-family: 'Courier New', Courier, monospace;
}

/*links to booking websites*/

/*party holiday*/
#ibiza-link{
  background-color: #1bf838da;
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  color:#232323;
  position:relative;
  bottom: -85px;
  left: 195px;
}

#maga-link{
  background-color: #1bf838da;
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  color:#232323;
  position:relative;
  bottom: -45px;
  left: 190px;
}


#benidorm-link{
  background-color: #1bf838da;
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  color:#232323;
  position:relative;
  bottom: -20px;
  left: 190px;
}

#napa-link{
  background-color: #1bf838da;
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  color:#232323;
  position:relative;
  bottom: -12px;
  left: 190px;
}

#algarve-link{
  background-color: #1bf838da;
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  color:#232323;
  position:relative;
  bottom: -20px;
  left: 190px;
}

#zante-link{
  background-color: #1bf838da;
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  color:#232323;
  position:relative;
  bottom: -37px;
  left: 190px;
}
/*summer holiday*/
#rhodes-link{
  background-color: #1bf838da;
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  color:#232323;
  position:relative;
  bottom: -100px;
  left: 200px;
}

#Mykonos-link{
  background-color: #1bf838da;
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  color:#232323;
  position:relative;
  bottom: -35px;
  left: 200px;
}

#mallorca-link{
  background-color: #1bf838da;
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  color:#232323;
  position:relative;
  bottom: -30px;
  left: 200px;
}

#bali-link{
  background-color: #1bf838da;
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  color:#232323;
  position:relative;
  bottom: -55px;
  left: 200px;
}

#costa-rica-link{
  background-color: #1bf838da;
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  color:#232323;
  position:relative;
  bottom: -25px;
  left: 200px;
}

#maldives-link{
  background-color: #1bf838da;
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  color:#232323;
  position:relative;
  bottom: -60px;
  left: 200px;
}
/*winter holiday*/
#grindelwald-link{
  background-color: #1bf838da;
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  color:#232323;
  position:relative;
  bottom: -100px;
  left: 200px;
}

#innsbruck-link{
  background-color: #1bf838da;
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  color:#232323;
  position:relative;
  bottom: -50px;
  left: 200px;
}

#amsterdam-link{
  background-color: #1bf838da;
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  color:#232323;
  position:relative;
  bottom: -75px;
  left: 200px;
}

#lapland-link{
  background-color: #1bf838da;
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  color:#232323;
  position:relative;
  bottom: -55px;
  left: 200px;
}

#riga-link{
  background-color: #1bf838da;
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  color:#232323;
  position:relative;
  bottom: -100px;
  left: 200px;
}

#morzine-link{
  background-color: #1bf838da;
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  color:#232323;
  position:relative;
  bottom: -100px;
  left: 200px;
}
/*relaxing holiday*/
#budapest-link{
  background-color: #1bf838da;
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  color:#232323;
  position:relative;
  bottom: -8px;
  left: 190px;
}

#peru-link{
  background-color: #1bf838da;
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  color:#232323;
  position:relative;
  bottom: -30px;
  left: 190px;
}

#montego-link{
  background-color: #1bf838da;
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  color:#232323;
  position:relative;
  bottom: -30px;
  left: 190px;
}

#borabora-link{
  background-color: #1bf838da;
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  color:#232323;
  position:relative;
  bottom: -20px;
  left: 190px;
}

#maluku-link{
  background-color: #1bf838da;
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  color:#232323;
  position:relative;
  bottom: -70px;
  left: 190px;
}

#caye-link{
  background-color: #1bf838da;
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  color:#232323;
  position:relative;
  bottom: -30px;
  left: 190px;
}

/*family holiday*/
#florida-link{
  background-color: #1bf838da;
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  color:#232323;
  position:relative;
  bottom: -8px;
  left: 190px;
}

#hawaii-link{
  background-color: #1bf838da;
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  color:#232323;
  position:relative;
  bottom: -8px;
  left: 190px;
}

#cornwall-link{
  background-color: #1bf838da;
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  color:#232323;
  position:relative;
  bottom: 20px;
  left: 190px;
}

#menorca-link{
  background-color: #1bf838da;
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  color:#232323;
  position:relative;
  bottom: -8px;
  left: 190px;
}

#mexico-link{
  background-color: #1bf838da;
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  color:#232323;
  position:relative;
  bottom: -55px;
  left: 190px;
}

#crete-link{
  background-color: #1bf838da;
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  color:#232323;
  position:relative;
  bottom: -30px;
  left: 190px;
}

/*sign up page*/

.sign-up{
  background-color: hsl(0, 0%, 93%, 0.7);
  box-shadow: #232323;
  text-align: center;
  width: 50%;
  height: 500px;
  margin: 0 auto;
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 400px;
  width: 550px;
}

#signup-heading{
  margin-top: 40px;
  font-size: 20px;
}


/*submit button*/
.submit-btn{
  margin: 10px;
  color: #2fabfd;
  width: 80px;
  height: 30px;
  font-size: large;
  border-color: #2fabfd;
}

#signup-text{
  border-bottom: #2fabfd;
}

#name{
border-color: #2fabfd;
margin: 10px;
}

#email{
  border-color: #2fabfd;
  margin: 10px;
}

@keyframes planeflying{
  0%{
    transform: translateX(0) translateY(0px) rotate(45deg);
  }
  30%{
    transform: translateX(700px)  translateY(-500) rotate(0deg);
  }
  60%{
    transform: translateX(800px)  translateY(400px) rotate(-45deg);
  }
  100%{
    transform: translateX(1400px)  translateY(0) rotate(0);
  }
}

.plane{
  margin-top: 400px;
  margin-left: 170px;
  color: #2fabfd;
  width: 10px;
  height: 10px;
  animation-name: planeflying;
  animation-duration: 3s;
  animation-timing-function: ease-in;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-direction: normal;
}


/*social media icons*/
#socials{
  text-align: center;
  padding: 20px 0;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}
/*social media icons*/
#socials i{
  color: #2fabfd;
  font-size: 200%;
}

#footer{
  position: fixed;
  width: 100%;
  height: 30px;
  bottom: 50px;
}